* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color: white;
}

.vanilla {
  width: 100%;
}
:root {
  --main-color: rgba(0, 0, 0, 0.368);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: rgba(0, 0, 0, 0);
}

.customSlider {
  max-width: 100%;
  position: absolute;
  z-index: 4;
}

.customSlider-track {
  height: 100vh;
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  background: var(--main-color);
  border-right: 1px solid;
}
.customSlider-thumb {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 0, 0, 0);
  margin-left: 50px;
  margin-top: 60vh;
  background-image: url("../public/images/arrow-left.svg"),
    url("../public/images/arrow-right.svg");
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: 40%;
}
.custom3 {
  height: 100vh;
  background: var(--track-color);
}

.custom3-0 {
  background-image: url("../public/images/section-1-3-front.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hooks-main > div {
  position: absolute;
  border-radius: 50%;
  background: lightcoral;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.6;
  width: 250px;
  height: 250px;
}

.hooks-main {
  position: absolute;
  width: 50%;
  height: 50%;
  overflow: hidden;
}
